@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');
@import url('font-awesome.min.css');
html{
	background-color: #454545;
    font-family: sans-serif;
	color: white;
    /*background-color:		#183026;*/
    background-image:	    url('../images/bg.jpg');
    background-repeat:		repeat,								no-repeat;
    background-size:		auto,								cover;
    background-position: 	top left,							center 0;
    background-attachment:	fixed,								fixed;
    padding: 0px;
}

body,input,textarea,select{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16pt;
    line-height: 1.45em;
    font-weight: 350;
    letter-spacing: 1px;
    color: #454545;
    text-shadow: 0 0 0.5px rgba(58,57,57,0.25);
    -webkit-text-stroke: 0.25px;
}

h1{
    line-height: 1.25em;
}

#big_head{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0.25em 0 0 0;
    padding: 0 0 0.5em 0;
    letter-spacing: 3px;
    top: 30%;
}

#author{
    position: relative;
    text-align: center;
    top:30%;
}

#wrapper{
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
}
#enter_our_world_btn {
	background-color:#ffffff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #49d157;
	display:inline-block;
	cursor:pointer;
	color:#000000;
    font-family: 'Source Sans Pro', sans-serif;
	font-size:19px;
    font-weight: 350;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#enter_our_world_btn:hover {
	background-color:#e6f2df;
}
#enter_our_world_btn:active {
	position:relative;
	top:1px;
}

.slide{	
    margin: 0px;
    padding: 10px;
	height: 800px;
    width: 100%;
}

.left_div{
	float: left;
    padding: 10px;
    width: 45%;
}

.right_div{
    float:right;
    padding: 10px;
    width: 45%;
}


/* style2 */
.style2{
    position: relative;
	background-color: #FFFFFF;
	color: #454545;
}
.style3{
    position: relative;
    text-align: center;
    background: #FFFFFF;
    color: #454545;
    margin: 0px;
    padding: 50px;
}


#sudoku_iframe{
    margin: 0px;
    width: 100%;
    height: 800px;
}

#walley_c_console{
    margin: 5%;
    width: 100%;
    height: 70%;
}







